<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>217910399803-22g2dmf40pqt84tkqbk10marvh5ikhe0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217910399803-22g2dmf40pqt84tkqbk10marvh5ikhe0</string>
	<key>API_KEY</key>
	<string>AIzaSyCkRvQdQOY7lG1Knh5ax9fUbrSfaxZMv70</string>
	<key>GCM_SENDER_ID</key>
	<string>217910399803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Scott-Hickmann.Education-Network</string>
	<key>PROJECT_ID</key>
	<string>education-network</string>
	<key>STORAGE_BUCKET</key>
	<string>education-network.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217910399803:ios:1553fbb7e73b6636</string>
	<key>DATABASE_URL</key>
	<string>https://education-network.firebaseio.com</string>
</dict>
</plist>